.container {
    margin-top: 10px;
    margin-bottom: 10px;
}
.newpost {
    margin-bottom: 5px;
    margin-top: 5px;
}

.oldpost {
    margin-bottom: 5px;
    margin-top: 5px;
}

textarea{
    background-color: #ffdf66;
    width: 80%;
}
