.container {
    margin-bottom: 10px;
}

.image {
    width: 60%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.mainPhoto {
    max-width: 300px;
}

.smallPhoto {
    max-width: 100px;
}

.contact {
    padding-left: 20px;
}