.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialog {
    margin: 10px;
}

a {
    text-decoration: none;
    color: #853b3b;
}

.activeItem {
    color: #b73d0a;
}

.messages {
    padding: 10px;
}

.message {
    margin: 10px;
}